@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.data tr.odd.green-background, .data tr.even.green-background {
  background-color: rgba(0, 128, 0, 0.091) !important;
}

.data tr.odd.green-background:hover, .data tr.even.green-background:hover {
  background-color: rgba(0, 128, 0, 0.071) !important;
}

.data tr.odd.red-background, .data tr.even.red-background {
  background-color: rgba(128, 0, 0, 0.092) !important;
}

.data tr.odd.red-background:hover, .data tr.even.red-background:hover {
  background-color: rgba(128, 0, 0, 0.08) !important;
}

.glowing-border {
  /* filter: drop-shadow(0 0 10px rgb(255, 251, 0)); */
  filter: drop-shadow(0 0 10px rgba(46, 46, 46, 0.515));
 }